# Dependencies
node_modules/
**/node_modules/

# Compiled outputs
dist/
**/dist/
build/
**/build/
.next/
**/.next/
out/
**/out/

# Generated Prisma Client
generated/
**/generated/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Temp
.DS_Store
.temp
.tmp

# Tests & Coverage
coverage/
**/coverage/
.nyc_output

# IDEs
.idea/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment Variables
.env
.env.local
.env.*.local
backend/.env
frontend/.env
frontend/.env.local

# Private study & interview notes
/private
private/
